@import "tailwindcss";

body {
  color: var(--foreground);
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
}

:root {
  --background: #f7f8fa;
  --foreground: #17202b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

* {
  box-sizing: border-box;
}

button, a, textarea {
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}
